In [131]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
pd.set_option('display.max_columns', None)

In [132]:

claims = pd.read_csv('CLAIM DETAILS.csv', encoding='utf-8')
policies = pd.read_csv('POLICY DETAILS.csv', encoding='ISO-8859-1')
print(claims.columns)
print(policies.columns)

Index(['CUST_ID', 'DATE OF \r\nINTIMATION', 'DATE OF \r\nACCIDENT',
       'PLACE OF \r\nLOSS', 'CLAIM NO', 'AGE', 'TYPE',
       'DRIVING \r\nLICENSE ISSUE', 'BODY TYPE', 'MAKE', 'MODEL', 'YEAR',
       'CHASIS NO', 'REG', 'SUM INSURED', 'POLICY NO', 'POLICY START',
       'POLICY END', 'INTIMATED\r\nAMOUNT', 'INTIMATED\r\nSF', 'EXECUTIVE',
       'PRODUCT', 'POLICYTYPE', 'NATIONALITY'],
      dtype='object')
Index(['CUST_ID', 'EXECUTIVE', 'BODY', 'MAKE', 'MODEL', 'USE_OF_VEHICLE',
       'MODEL_YEAR', 'CHASSIS_NO', 'REGN', 'POLICY_NO', 'POL_EFF_DATE',
       'POL_EXPIRY_DATE', 'SUM INSURED', 'POL_ISSUE_DATE', 'PREMIUM2',
       'DRV_DOB', 'DRV_DLI', 'VEH_SEATS', 'PRODUCT', 'POLICYTYPE',
       'NATIONALITY'],
      dtype='object')

C:\Users\Charbel\AppData\Local\Temp\ipykernel_3328\1185848964.py:2: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  policies = pd.read_csv('POLICY DETAILS.csv', encoding='ISO-8859-1')

In [133]:
claims = claims.rename(columns={'POLICY NO': 'POLICY_NO'})

In [134]:
print(claims.MAKE.isna().sum())
print(claims.MAKE[claims.MAKE == "."].count())
mean_insured = claims.groupby('MAKE')['SUM INSURED'].mean().to_dict()

values_array = np.array(list(mean_insured.values()))
keys_with_nan = [key for key, value in mean_insured.items() if pd.isna(value) or value == 0.0]
print(len(keys_with_nan))
print(keys_with_nan)
claims = claims[~claims['MAKE'].isin(keys_with_nan)]
claims = claims[~claims['MAKE'].isin(['.','..'])]
mean_insured

0
314
16
['ACURA', 'BYD', 'CASE', 'CATERPILLAR', 'CITROEN', 'DOOSAN', 'FISKER', 'GODREJ', 'JCB', 'LANDMARK', 'MANITOU', 'ROVER', 'TADANO', 'TCM', 'TVS', 'XIAMEN']

{'.': 7098297.652866242,
 'ACURA': nan,
 'ALFA ROMEO': 109863.22222222222,
 'ASHOK LEYLAND': 55901.10344827586,
 'ASIASTAR': 581834.085106383,
 'ASTON MARTIN': 533057.1428571428,
 'AUDI': 164371.89142857143,
 'BAIC': 37262.35294117647,
 'BAJAJ': 21892.286995515697,
 'BENTLEY': 515240.6296296296,
 'BMW': 164920.89118607182,
 'BOBCAT': 93450.0,
 'BRILLIANCE': 35848.125,
 'BYD': nan,
 'CADILLAC': 194124.4644012945,
 'CASE': 0.0,
 'CATERPILLAR': 0.0,
 'CHANGAN': 37219.228070175435,
 'CHERY': 37486.58181818182,
 'CHEVROLET': 101994.90496304118,
 'CHRYSLER': 92845.14285714286,
 'CITROEN': nan,
 'CMC': 42298.13333333333,
 'CMC VERYCA': 35175.333333333336,
 'DAEWOO': 147260.0,
 'DAIHATSU': 45622.98105263158,
 'DFSK': 39498.92857142857,
 'DODGE': 108850.31306990882,
 'DOMY': 63934.333333333336,
 'DONG': 91000.0,
 'DOOSAN': nan,
 'EICHER': 186000.0,
 'FAW': 37000.0,
 'FERRARI': 885128.75,
 'FIAT': 41000.0,
 'FISKER': nan,
 'FORD': 63473.52682497801,
 'FOTON': 47195.72192513369,
 'GAC': 69213.47368421052,
 'GEELY': 37191.011235955055,
 'GMC': 127978.29319371728,
 'GODREJ': nan,
 'GONOW': 27800.0,
 'GRAND': 92160.0,
 'GRANDTIGER': 39333.333333333336,
 'GREAT WALL': 34746.65588235294,
 'HAVAL': 74013.75,
 'HERO': 5637.5,
 'HIGER': 150000.0,
 'HINO': 82287.59016393442,
 'HONDA': 45880.13530380674,
 'HUMMER': 52833.333333333336,
 'HYDRA TERRA': 259480.0,
 'HYSTER': 23500.0,
 'HYUNDAI': 49451.19690439978,
 'INDIAN': 80700.0,
 'INFINITI': 94741.55263157895,
 'ISUZU': 58579.44378698225,
 'IVECO': 89600.0,
 'JAC': 40423.850746268654,
 'JAC HFC': 81000.0,
 'JAGUAR': 122481.01290322581,
 'JCB': 0.0,
 'JEEP': 117778.32425742575,
 'JINBEI': 45119.92105263158,
 'JINBEI CARGO VAN': 46000.0,
 'JMC': 40571.42857142857,
 'JMCGL': 37770.0,
 'KAWASAKI': 42700.0,
 'KIA': 52430.03896103896,
 'KING LONG': 44875.0,
 'KOMATSU': 61000.0,
 'KTM': 19000.0,
 'LAMBORGHINI': 1171198.0882352942,
 'LAND ROVER': 116151.35135135135,
 'LANDMARK': nan,
 'LANDWIND': 50000.0,
 'LEXUS': 134206.6090266449,
 'LINCOLN': 103984.46296296296,
 'LONKING': 37120.0,
 'LOTUS': 353750.0,
 'LUXGEN': 65974.30769230769,
 'M.A.N.': 85866.66666666667,
 'MAHINDRA': 88400.0,
 'MANITOU': 0.0,
 'MASERATI': 254123.12820512822,
 'MAXIMAL': 75000.0,
 'MAXUS': 68916.40229885057,
 'MAZDA': 56247.26116838488,
 'MCLAREN': 739171.4285714285,
 'MERCEDES': 209891.91458607095,
 'MERCEDES BENZ': 228340.64864864864,
 'MERCEDES.': 69107.23076923077,
 'MERCURY': 19853.2,
 'MG': 66888.24209439527,
 'MINI': 91552.78571428571,
 'MITSUBISHI': 43204.09568485523,
 'MV': 216000.0,
 'MV AGUSTA': 66232.4,
 'NISSAN': 57902.53215810494,
 'OPEL': 66971.93548387097,
 'PEUGEOT': 71846.22421524664,
 'PORSCHE': 223143.512,
 'PROTON': 10750.0,
 'RANGE ROVER': 280893.2252155172,
 'RENAULT': 37671.784342688334,
 'ROLLS ROYCE': 1072307.6923076923,
 'ROVER': nan,
 'ROYAL': 11128.0,
 'SAAB': 27062.5,
 'SAIC': 27728.16,
 'SANDSTORM': 78999.0,
 'SANGYONG': 15000.0,
 'SCANIA': 380562.5,
 'SEAT': 33000.0,
 'SKODA': 70291.53658536586,
 'SMART': 40000.0,
 'SOUEAST': 70579.0,
 'STILL': 67200.0,
 'SUBARU': 105258.51612903226,
 'SUNWIN': 208666.66666666666,
 'SUZUKI': 38204.056,
 'TADANO': nan,
 'TATA': 41028.822222222225,
 'TCM': 0.0,
 'TESLA': 368909.953125,
 'TOYOTA': 56964.01242555274,
 'TOYOTA LAND': 44205.16129032258,
 'TRAILOR ': 19200.0,
 'TVS': 0.0,
 'UD': 87654.0,
 'VARIOUS VEHICLES': 1227795.8424908426,
 'VEHICLE AS PER': 3621099.8952380954,
 'VESPA': 13000.0,
 'VICTORY': 38542.857142857145,
 'VOLKSWAGEN': 110060.76752273944,
 'VOLVO': 65724.9014084507,
 'VOLVO.': 30000.0,
 'WZHOULONG': 65000.0,
 'XIAMEN': 0.0,
 'YAMAHA': 24142.666666666668,
 'YANGZI': 18000.0,
 'YUTONG': 87000.0,
 'ZNA': 24000.0,
 'ZOTYE': 87924.0}

In [156]:

claims['SUM INSURED'] = claims.apply(lambda row: mean_insured.get(row['MAKE']) if pd.isna(
    row['SUM INSURED']) or row['SUM INSURED'] == 0.0 or row['SUM INSURED']<5000.0  else row['SUM INSURED'], axis=1)
print(claims['SUM INSURED'].isna().sum())

claims = claims[claims['SUM INSURED'] <= 2000000]
print(claims[claims['SUM INSURED'] > 1000000])
print(claims['SUM INSURED'].describe())

0
       CUST_ID DATE OF \r\nINTIMATION DATE OF \r\nACCIDENT PLACE OF \r\nLOSS  \
805       1965       07/04/2015 14:25           03/04/2015             DUBAI
897       1965       21/04/2015 13:17           16/04/2015             DUBAI
898       6656       21/04/2015 15:00           25/03/2015             DUBAI
954       3304       28/04/2015 14:08           21/04/2015             DUBAI
1536      1965        15/06/2015 7:47           03/06/2015             DUBAI
...        ...                    ...                  ...               ...
61580     7463       13/10/2020 11:35           19/09/2020             DUBAI
61595     7463       13/10/2020 18:03           19/09/2020             Dubai
61618     7463       15/10/2020 15:43           16/08/2020             DUBAI
62142     3202       25/11/2020 16:43           19/11/2020          FUJAIRAH
62177    13803       30/11/2020 11:21           20/11/2020             DUBAI

                     CLAIM NO   AGE            TYPE DRIVING \r\nLICENSE ISSUE  \
805     DU/10/PC/COMP/0041/16  24.0        OD Claim                16/11/2019
897     DU/10/PC/COMP/0132/16  40.0  RECOVERY CLAIM                31/10/2005
898     DU/10/PC/COMP/0133/16   NaN        TP Claim                01/01/1900
954     DU/10/PC/COMP/0187/16  22.0        OD Claim                30/07/2012
1536    DU/10/PC/COMP/0768/16  30.0  RECOVERY CLAIM                02/04/2015
...                       ...   ...             ...                       ...
61580  DU/10/PCV/COMP/1917/21   0.0        TP Claim                01/01/1900
61595  DU/10/PCV/COMP/1932/21  52.0        OD Claim                01/01/1968
61618  DU/10/PCV/COMP/1955/21   0.0        TP Claim                01/01/1900
62142   DU/10/PC/COMP/2478/21  41.0  RECOVERY CLAIM                10/03/2011
62177   DU/10/PC/COMP/2513/21  30.0        OD Claim                14/07/2014

               BODY TYPE              MAKE        MODEL    YEAR  \
805                  NaN    VEHICLE AS PER          NaN     NaN
897                  NaN    VEHICLE AS PER          NaN     NaN
898           SPORTS CAR       LAMBORGHINI      HURACAN  2015.0
954                  NaN          ASIASTAR            .     NaN
1536                 NaN    VEHICLE AS PER          NaN     NaN
...                  ...               ...          ...     ...
61580  AS PER FLEET LIST  VARIOUS VEHICLES  AS PER LIST  2015.0
61595  AS PER FLEET LIST  VARIOUS VEHICLES  AS PER LIST  2015.0
61618  AS PER FLEET LIST  VARIOUS VEHICLES  AS PER LIST  2015.0
62142             SALOON            TOYOTA            .  2015.0
62177         SPORTS CAR       LAMBORGHINI      HURACAN  2019.0

                      CHASIS NO    REG  SUM INSURED  POLICY_NO POLICY START  \
805            AS LIST ATTACHED    TBR    1131000.0  102047155   25/09/2014
897            AS LIST ATTACHED    TBR    1131000.0  102047155   25/09/2014
898           ZHWEC1ZF7FLA01397  DUBAI    1260000.0  102049004   06/01/2015
954        As Per List Attached    TBR    1036806.0  102046276   16/07/2014
1536           AS LIST ATTACHED    TBR    1131000.0  102047155   25/09/2014
...                         ...    ...          ...        ...          ...
61580      AS PER LIST ATTACHED  DUBAI    1062149.0  102142121   02/03/2020
61595      AS PER LIST ATTACHED  DUBAI    1062149.0  102142121   02/03/2020
61618      AS PER LIST ATTACHED  DUBAI    1062149.0  102142121   02/03/2020
62142  AS PER THE LIST ATTACHED  DUBAI    1221192.0  102151513   29/10/2020
62177         ZHWED4ZF7KLA11971  DUBAI    1207500.0  102140563   22/02/2020

       POLICY END  INTIMATED\r\nAMOUNT  INTIMATED\r\nSF EXECUTIVE  \
805    24/10/2015              46800.0            500.0        BR
897    24/10/2015                950.0              0.0        BR
898    05/02/2016             407259.0              NaN        BR
954    15/07/2015               1990.0            150.0        BR
1536   24/10/2015                  0.0              0.0        BR
...           ...                  ...              ...       ...
61580  01/04/2021               6000.0            150.0        BR
61595  01/04/2021               5000.0            150.0        BR
61618  01/04/2021               8200.0            300.0        BR
62142  28/11/2021               3200.0            150.0        BR
62177  21/03/2021              14600.0            500.0    DIRECT

              PRODUCT POLICYTYPE NATIONALITY
805    NOT CLASSIFIED       COMP         NaN
897    NOT CLASSIFIED       COMP         NaN
898        RENT A CAR       COMP         NaN
954    NOT CLASSIFIED       COMP         NaN
1536   NOT CLASSIFIED       COMP         NaN
...               ...        ...         ...
61580          M 2.25       COMP   PAKISTANI
61595          M 2.25       COMP   PAKISTANI
61618          M 2.25       COMP   PAKISTANI
62142        STANDARD       COMP      INDIAN
62177          M 2.25       COMP      INDIAN

[122 rows x 24 columns]
count    6.175200e+04
mean     8.111470e+04
std      9.855963e+04
min      5.000000e+03
25%      3.500000e+04
50%      5.696401e+04
75%      9.465900e+04
max      1.950000e+06
Name: SUM INSURED, dtype: float64

In [136]:
df_merged = pd.merge(policies, claims, on='POLICY_NO', how='outer')
print(df_merged.columns)

Index(['CUST_ID_x', 'EXECUTIVE_x', 'BODY', 'MAKE_x', 'MODEL_x',
       'USE_OF_VEHICLE', 'MODEL_YEAR', 'CHASSIS_NO', 'REGN', 'POLICY_NO',
       'POL_EFF_DATE', 'POL_EXPIRY_DATE', 'SUM INSURED_x', 'POL_ISSUE_DATE',
       'PREMIUM2', 'DRV_DOB', 'DRV_DLI', 'VEH_SEATS', 'PRODUCT_x',
       'POLICYTYPE_x', 'NATIONALITY_x', 'CUST_ID_y', 'DATE OF \r\nINTIMATION',
       'DATE OF \r\nACCIDENT', 'PLACE OF \r\nLOSS', 'CLAIM NO', 'AGE', 'TYPE',
       'DRIVING \r\nLICENSE ISSUE', 'BODY TYPE', 'MAKE_y', 'MODEL_y', 'YEAR',
       'CHASIS NO', 'REG', 'SUM INSURED_y', 'POLICY START', 'POLICY END',
       'INTIMATED\r\nAMOUNT', 'INTIMATED\r\nSF', 'EXECUTIVE_y', 'PRODUCT_y',
       'POLICYTYPE_y', 'NATIONALITY_y'],
      dtype='object')

In [137]:


# Assuming df_merged is your merged DataFrame
# ...

# List to store the differences
differences = []

# Iterate over columns
for col_x, col_y in zip(df_merged.filter(like='_x').columns, df_merged.filter(like='_y').columns):
    # Calculate unique values difference
    unique_values_diff = set(df_merged[col_x].dropna().unique()) - set(df_merged[col_y].dropna().unique())
    
    # Calculate NaNs difference
    nan_count_diff = df_merged[col_x].isna().sum() - df_merged[col_y].isna().sum()
    
    # Append differences to the list
    differences.append({
        'Column': col_x[:-2],  # Remove the '_x' suffix for better readability
        'Unique_Values_Diff': unique_values_diff,
        'NaN_Count_Diff': nan_count_diff
    })

# Create a DataFrame from the differences list
differences_df = pd.DataFrame(differences)

# Print or inspect the differences DataFrame
differences_df

,Column,Unique_Values_Diff,NaN_Count_Diff
0,CUST_ID,"{8192.0, 8194.0, 8196.0, 8197.0, 8199.0, 8200....",-184785
1,EXECUTIVE,"{CHETAN, RENNIE/AJITHVP, JOHN/AF, UDASI/SA, JO...",-184785
2,MAKE,"{PROTON, TOYOTA, DELTA , JCB, GEELY, CITROEN, ...",-174830
3,MODEL,"{PANAMERA, LUV, M1, ERTIGA GLX, CASCADA, I 40,...",-174029
4,SUM INSURED,"{0.0, 1.0, 32768.0, 65536.0, 98304.0, 196608.0...",-69166
5,PRODUCT,{},-184785
6,POLICYTYPE,{},-184785
7,NATIONALITY,"{RWANDAN, CYPRUS, SWISS, BURKINABÉ, SLOVAK, GA...",-24904

In [138]:
columns_to_merge = ['CUST_ID', 'EXECUTIVE', 'MAKE' , 'MODEL' , 'SUM INSURED' , 'PRODUCT', 'POLICYTYPE' , 'NATIONALITY']

for col in columns_to_merge:
    # Create a new column by combining '_x' and '_y' columns
    df_merged[col] = df_merged[f'{col}_x'].combine_first(df_merged[f'{col}_y'])

    # Drop the original '_x' and '_y' columns
    df_merged = df_merged.drop(columns=[f'{col}_x', f'{col}_y'])

# Print or inspect the DataFrame
df_merged

,BODY,USE_OF_VEHICLE,MODEL_YEAR,CHASSIS_NO,REGN,POLICY_NO,POL_EFF_DATE,POL_EXPIRY_DATE,POL_ISSUE_DATE,PREMIUM2,DRV_DOB,DRV_DLI,VEH_SEATS,DATE OF \r\nINTIMATION,DATE OF \r\nACCIDENT,PLACE OF \r\nLOSS,CLAIM NO,AGE,TYPE,DRIVING \r\nLICENSE ISSUE,BODY TYPE,YEAR,CHASIS NO,REG,POLICY START,POLICY END,INTIMATED\r\nAMOUNT,INTIMATED\r\nSF,CUST_ID,EXECUTIVE,MAKE,MODEL,SUM INSURED,PRODUCT,POLICYTYPE,NATIONALITY
0,SALOON,PRIVATE,2004.0,4T1BF28B74U386791,DUBAI,102048936,24/02/2015,23/02/2016,04/01/2015 8:14,1090.0,NaN,NaN,4.0,18/03/2015 9:07,11/03/2015,DUBAI,DU/10/PC/COMP/2328/15,26.0,OD Claim,01/01/1900,SALOON,2004.0,4T1BF28B74U386791,DUBAI,24/02/2015,23/02/2016,550.0,0.0,749.0,JAIKISHIN (S),TOYOTA,AVALON,14080.000000,NOT CLASSIFIED,COMP,NaN
1,SALOON,PRIVATE,2004.0,4T1BF28B74U386791,DUBAI,102048936,24/02/2015,23/02/2016,04/01/2015 8:14,1090.0,NaN,NaN,4.0,24/06/2015 17:01,15/06/2015,DUBAI,DU/10/PC/COMP/0922/16,31.0,RECOVERY CLAIM,22/11/2011,SALOON,2004.0,4T1BF28B74U386791,DUBAI,24/02/2015,23/02/2016,900.0,0.0,749.0,JAIKISHIN (S),TOYOTA,AVALON,14080.000000,NOT CLASSIFIED,COMP,NaN
2,SALOON,PRIVATE,2004.0,4T1BF28B74U386791,DUBAI,102048936,24/02/2015,23/02/2016,04/01/2015 8:14,1090.0,NaN,NaN,4.0,07/01/2016 11:27,11/03/2015,DUBAI,DU/10/PC/COMP/5818/16,26.0,TP Claim,01/01/1900,SALOON,2004.0,4T1BF28B74U386791,DUBAI,24/02/2015,23/02/2016,1700.0,NaN,749.0,JAIKISHIN (S),TOYOTA,AVALON,14080.000000,NOT CLASSIFIED,COMP,NaN
3,SALOON,PRIVATE,2004.0,4T1BF28B74U386791,DUBAI,102048936,24/02/2015,23/02/2016,04/01/2015 8:14,1090.0,NaN,NaN,4.0,14/03/2016 16:14,11/03/2015,DUBAI,OMIT,26.0,TP Claim,01/01/1900,SALOON,2004.0,4T1BF28B74U386791,DUBAI,24/02/2015,23/02/2016,0.0,NaN,749.0,JAIKISHIN (S),TOYOTA,AVALON,14080.000000,NOT CLASSIFIED,COMP,NaN
4,PICK UP,COMMERCIAL,2004.0,JL7BCE1K44K002036,DUBAI,101509203,10/02/2015,09/02/2016,04/01/2015 8:15,930.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,749.0,JAIKISHIN (S),MITSUBISHI,CANTER SINGLE CABIN,0.000000,NOT CLASSIFIED,TP,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249343,NaN,NaN,NaN,NaN,NaN,102042682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30/09/2018 11:07,06/02/2014,DUBAI,DU/10/PCV/COMP/4094/19,40.0,TP Claim,01/01/1900,VAN,2007.0,JN6FE52S57X421878,DUBAI,16/11/2013,15/11/2014,917.0,NaN,250.0,JAIKISHIN (SNC),NISSAN,E 25 VAN,17600.000000,NOT CLASSIFIED,COMP,PAKISTANI
249344,NaN,NaN,NaN,NaN,NaN,101505111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/08/2019 10:49,28/05/2013,SHARJAH,DU/10/MCY/TP/1955/20,0.0,TP Claim Ins,01/01/1900,MOTOR CYCLE,2012.0,MD2DDDUZZVW80161,TBR,18/09/2012,17/10/2013,3000.0,NaN,3109.0,MANOHAR (S),BAJAJ,CT100,21892.286996,NOT CLASSIFIED,TP,PAKISTANI
249345,NaN,NaN,NaN,NaN,NaN,102041951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/08/2019 11:03,29/04/2014,DUBAI,DU/10/PC/COMP/1956/20,0.0,TP Claim Ins,01/01/1900,SALOON,2007.0,JMYSRCS1A7U729899,DUBAI,12/08/2013,11/08/2014,3600.0,NaN,2245.0,MANOHAR (S),MITSUBISHI,LANCER,12000.000000,NOT CLASSIFIED,COMP,PAKISTANI
249346,NaN,NaN,NaN,NaN,NaN,102046700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24/06/2020 8:55,19/10/2014,DUBAI,DU/10/PCV/COMP/0627/21,0.0,TP Claim Ins,01/01/1900,PICK UP,2011.0,MR0EW12G2B2030176,DUBAI,29/09/2014,28/09/2015,3780.0,NaN,6764.0,AJITH,TOYOTA,HILUX,32000.000000,NOT CLASSIFIED,COMP,PAKISTANI
249347,NaN,NaN,NaN,NaN,NaN,101506118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/07/2020 8:06,21/01/2014,DUBAI,DU/10/MCY/TP/0809/21,0.0,TP Claim Ins,01/01/1900,MOTOR CYCLE,2013.0,MD2A11CZ2DCL23367,TBR,20/05/2013,19/06/2014,5015.0,NaN,3109.0,MANOHAR (S),BAJAJ,PULSAR,21892.286996,NOT CLASSIFIED,TP,PAKISTANI

In [139]:
""" # Plot histograms for numerical columns
df_merged.hist(figsize=(10, 10))
plt.show()

# Plot count plots for categorical columns
sns.countplot(x='SUM INSURED', data=df_merged)
plt.show()
 """

" # Plot histograms for numerical columns\ndf_merged.hist(figsize=(10, 10))\nplt.show()\n\n# Plot count plots for categorical columns\nsns.countplot(x='SUM INSURED', data=df_merged)\nplt.show()\n "

In [140]:
#MODEL_YEAR cleaning
df_merged['MODEL_YEAR'].mean()
print(df_merged[df_merged['MODEL_YEAR'] == 2010].count())
#8000 row have 2010 as model year

BODY                         7995
USE_OF_VEHICLE               7995
MODEL_YEAR                   7999
CHASSIS_NO                   7999
REGN                         7999
POLICY_NO                    7999
POL_EFF_DATE                 7999
POL_EXPIRY_DATE              7999
POL_ISSUE_DATE               7999
PREMIUM2                     7999
DRV_DOB                      7153
DRV_DLI                      7153
VEH_SEATS                    7999
DATE OF \r\nINTIMATION       2104
DATE OF \r\nACCIDENT         2104
PLACE OF \r\nLOSS            2104
CLAIM NO                     2104
AGE                          2078
TYPE                         2104
DRIVING \r\nLICENSE ISSUE    2068
BODY TYPE                    2102
YEAR                         2103
CHASIS NO                    2104
REG                          2104
POLICY START                 2104
POLICY END                   2104
INTIMATED\r\nAMOUNT          2089
INTIMATED\r\nSF               964
CUST_ID                      7999
EXECUTIVE                    7999
MAKE                         7999
MODEL                        7969
SUM INSURED                  5226
PRODUCT                      7999
POLICYTYPE                   7999
NATIONALITY                  2094
dtype: int64

In [141]:

# Assuming df_merged is your merged DataFrame
# Replace missing values in 'MODEL_YEAR' with the mean of the column
mean_model_year = df_merged['MODEL_YEAR'].mean()
df_merged['MODEL_YEAR'] = df_merged['MODEL_YEAR'].fillna(mean_model_year)

# Define the range around the mean
range_around_mean = 5
min_model_year = 1950
max_model_year = 2022

# Define a list of random values within the specified range around the mean
random_values = list(range(int(mean_model_year - range_around_mean), int(mean_model_year + range_around_mean) + 1))

# Function to replace values outside the desired range with a random value
def replace_outside_range(x):
    if pd.isnull(x) or x < min_model_year or x > max_model_year:
        return random.choice(random_values)
    else:
        return x

# Apply the function to the 'MODEL_YEAR' column
df_merged['MODEL_YEAR'] = df_merged['MODEL_YEAR'].apply(replace_outside_range)

# Print or inspect the DataFrame to verify changes
print(df_merged)

           BODY USE_OF_VEHICLE   MODEL_YEAR         CHASSIS_NO   REGN  \
0        SALOON        PRIVATE  2004.000000  4T1BF28B74U386791  DUBAI
1        SALOON        PRIVATE  2004.000000  4T1BF28B74U386791  DUBAI
2        SALOON        PRIVATE  2004.000000  4T1BF28B74U386791  DUBAI
3        SALOON        PRIVATE  2004.000000  4T1BF28B74U386791  DUBAI
4       PICK UP     COMMERCIAL  2004.000000  JL7BCE1K44K002036  DUBAI
...         ...            ...          ...                ...    ...
249343      NaN            NaN  2010.014761                NaN    NaN
249344      NaN            NaN  2010.014761                NaN    NaN
249345      NaN            NaN  2010.014761                NaN    NaN
249346      NaN            NaN  2010.014761                NaN    NaN
249347      NaN            NaN  2010.014761                NaN    NaN

        POLICY_NO POL_EFF_DATE POL_EXPIRY_DATE   POL_ISSUE_DATE  PREMIUM2  \
0       102048936   24/02/2015      23/02/2016  04/01/2015 8:14    1090.0
1       102048936   24/02/2015      23/02/2016  04/01/2015 8:14    1090.0
2       102048936   24/02/2015      23/02/2016  04/01/2015 8:14    1090.0
3       102048936   24/02/2015      23/02/2016  04/01/2015 8:14    1090.0
4       101509203   10/02/2015      09/02/2016  04/01/2015 8:15     930.0
...           ...          ...             ...              ...       ...
249343  102042682          NaN             NaN              NaN       NaN
249344  101505111          NaN             NaN              NaN       NaN
249345  102041951          NaN             NaN              NaN       NaN
249346  102046700          NaN             NaN              NaN       NaN
249347  101506118          NaN             NaN              NaN       NaN

       DRV_DOB DRV_DLI  VEH_SEATS DATE OF \r\nINTIMATION DATE OF \r\nACCIDENT  \
0          NaN     NaN        4.0        18/03/2015 9:07           11/03/2015
1          NaN     NaN        4.0       24/06/2015 17:01           15/06/2015
2          NaN     NaN        4.0       07/01/2016 11:27           11/03/2015
3          NaN     NaN        4.0       14/03/2016 16:14           11/03/2015
4          NaN     NaN        2.0                    NaN                  NaN
...        ...     ...        ...                    ...                  ...
249343     NaN     NaN        NaN       30/09/2018 11:07           06/02/2014
249344     NaN     NaN        NaN       07/08/2019 10:49           28/05/2013
249345     NaN     NaN        NaN       07/08/2019 11:03           29/04/2014
249346     NaN     NaN        NaN        24/06/2020 8:55           19/10/2014
249347     NaN     NaN        NaN        15/07/2020 8:06           21/01/2014

       PLACE OF \r\nLOSS                CLAIM NO   AGE            TYPE  \
0                  DUBAI   DU/10/PC/COMP/2328/15  26.0        OD Claim
1                  DUBAI   DU/10/PC/COMP/0922/16  31.0  RECOVERY CLAIM
2                  DUBAI   DU/10/PC/COMP/5818/16  26.0        TP Claim
3                  DUBAI                    OMIT  26.0        TP Claim
4                    NaN                     NaN   NaN             NaN
...                  ...                     ...   ...             ...
249343             DUBAI  DU/10/PCV/COMP/4094/19  40.0        TP Claim
249344           SHARJAH    DU/10/MCY/TP/1955/20   0.0    TP Claim Ins
249345             DUBAI   DU/10/PC/COMP/1956/20   0.0    TP Claim Ins
249346             DUBAI  DU/10/PCV/COMP/0627/21   0.0    TP Claim Ins
249347             DUBAI    DU/10/MCY/TP/0809/21   0.0    TP Claim Ins

       DRIVING \r\nLICENSE ISSUE    BODY TYPE    YEAR          CHASIS NO  \
0                     01/01/1900       SALOON  2004.0  4T1BF28B74U386791
1                     22/11/2011       SALOON  2004.0  4T1BF28B74U386791
2                     01/01/1900       SALOON  2004.0  4T1BF28B74U386791
3                     01/01/1900       SALOON  2004.0  4T1BF28B74U386791
4                            NaN          NaN     NaN                NaN
...                          ...          ...     ...                ...
249343                01/01/1900          VAN  2007.0  JN6FE52S57X421878
249344                01/01/1900  MOTOR CYCLE  2012.0   MD2DDDUZZVW80161
249345                01/01/1900       SALOON  2007.0  JMYSRCS1A7U729899
249346                01/01/1900      PICK UP  2011.0  MR0EW12G2B2030176
249347                01/01/1900  MOTOR CYCLE  2013.0  MD2A11CZ2DCL23367

          REG POLICY START  POLICY END  INTIMATED\r\nAMOUNT  INTIMATED\r\nSF  \
0       DUBAI   24/02/2015  23/02/2016                550.0              0.0
1       DUBAI   24/02/2015  23/02/2016                900.0              0.0
2       DUBAI   24/02/2015  23/02/2016               1700.0              NaN
3       DUBAI   24/02/2015  23/02/2016                  0.0              NaN
4         NaN          NaN         NaN                  NaN              NaN
...       ...          ...         ...                  ...              ...
249343  DUBAI   16/11/2013  15/11/2014                917.0              NaN
249344    TBR   18/09/2012  17/10/2013               3000.0              NaN
249345  DUBAI   12/08/2013  11/08/2014               3600.0              NaN
249346  DUBAI   29/09/2014  28/09/2015               3780.0              NaN
249347    TBR   20/05/2013  19/06/2014               5015.0              NaN

        CUST_ID        EXECUTIVE        MAKE                MODEL  \
0         749.0    JAIKISHIN (S)      TOYOTA               AVALON
1         749.0    JAIKISHIN (S)      TOYOTA               AVALON
2         749.0    JAIKISHIN (S)      TOYOTA               AVALON
3         749.0    JAIKISHIN (S)      TOYOTA               AVALON
4         749.0    JAIKISHIN (S)  MITSUBISHI  CANTER SINGLE CABIN
...         ...              ...         ...                  ...
249343    250.0  JAIKISHIN (SNC)      NISSAN             E 25 VAN
249344   3109.0      MANOHAR (S)       BAJAJ                CT100
249345   2245.0      MANOHAR (S)  MITSUBISHI               LANCER
249346   6764.0            AJITH      TOYOTA                HILUX
249347   3109.0      MANOHAR (S)       BAJAJ               PULSAR

         SUM INSURED         PRODUCT POLICYTYPE NATIONALITY
0       14080.000000  NOT CLASSIFIED       COMP         NaN
1       14080.000000  NOT CLASSIFIED       COMP         NaN
2       14080.000000  NOT CLASSIFIED       COMP         NaN
3       14080.000000  NOT CLASSIFIED       COMP         NaN
4           0.000000  NOT CLASSIFIED         TP         NaN
...              ...             ...        ...         ...
249343  17600.000000  NOT CLASSIFIED       COMP   PAKISTANI
249344  21892.286996  NOT CLASSIFIED         TP   PAKISTANI
249345  12000.000000  NOT CLASSIFIED       COMP   PAKISTANI
249346  32000.000000  NOT CLASSIFIED       COMP   PAKISTANI
249347  21892.286996  NOT CLASSIFIED         TP   PAKISTANI

[249348 rows x 36 columns]

In [142]:
print(df_merged[df_merged['MODEL_YEAR'] == 2010].count())
print(df_merged['MODEL_YEAR'].isna().sum())
#now Model_YEar is clean

BODY                         7997
USE_OF_VEHICLE               7997
MODEL_YEAR                   8001
CHASSIS_NO                   8001
REGN                         8001
POLICY_NO                    8001
POL_EFF_DATE                 8001
POL_EXPIRY_DATE              8001
POL_ISSUE_DATE               8001
PREMIUM2                     8001
DRV_DOB                      7155
DRV_DLI                      7155
VEH_SEATS                    8001
DATE OF \r\nINTIMATION       2105
DATE OF \r\nACCIDENT         2105
PLACE OF \r\nLOSS            2105
CLAIM NO                     2105
AGE                          2079
TYPE                         2105
DRIVING \r\nLICENSE ISSUE    2069
BODY TYPE                    2103
YEAR                         2104
CHASIS NO                    2105
REG                          2105
POLICY START                 2105
POLICY END                   2105
INTIMATED\r\nAMOUNT          2090
INTIMATED\r\nSF               965
CUST_ID                      8001
EXECUTIVE                    8001
MAKE                         8001
MODEL                        7971
SUM INSURED                  5227
PRODUCT                      8001
POLICYTYPE                   8001
NATIONALITY                  2094
dtype: int64
0

In [143]:
#for premium
df_merged['PREMIUM2'].describe()
print(df_merged.PREMIUM2.isna().sum())

2387

In [144]:
#transform all negative values into positive
# Assuming df_merged is your merged DataFrame

# Function to transform negative values to positive
def transform_negative_premium(x):
    return abs(x)  

# Apply the function to the 'PREMIUM' column
df_merged['PREMIUM2'] = df_merged['PREMIUM2'].apply(transform_negative_premium)

In [145]:
# Assuming df_merged is your merged DataFrame

# Calculate the mean of the 'PREMIUM' column
mean_premium = df_merged['PREMIUM2'].mean()

# Replace values less than 200 with NaN
condition = (df_merged['PREMIUM2'] < 200) | (df_merged['PREMIUM2'] == 0)
df_merged.loc[condition, 'PREMIUM2'] = mean_premium

# Fill NaN values with the mean of the column
# df_merged['PREMIUM2'] = df_merged['PREMIUM2'].fillna(mean_premium)

print(df_merged.PREMIUM2.isna().sum())
print(df_merged.PREMIUM2.describe())

2387
count    246961.000000
mean       2027.154445
std       11376.500923
min         200.000000
25%         450.000000
50%        1120.000000
75%        1910.000000
max      457085.000000
Name: PREMIUM2, dtype: float64

In [146]:
#veh seats
print(df_merged['VEH_SEATS'].describe())
df_merged[df_merged.VEH_SEATS == 0]
#it looks like most records with 0 vehicle seats are either forklifters or motorcycles so I will change them to 1
print(df_merged.VEH_SEATS.isna().sum())
#we have 12 000 na rows
df_merged[df_merged.VEH_SEATS == 3]

count    236697.000000
mean          4.451062
std           3.342103
min           0.000000
25%           4.000000
50%           4.000000
75%           4.000000
max          87.000000
Name: VEH_SEATS, dtype: float64
12651

,BODY,USE_OF_VEHICLE,MODEL_YEAR,CHASSIS_NO,REGN,POLICY_NO,POL_EFF_DATE,POL_EXPIRY_DATE,POL_ISSUE_DATE,PREMIUM2,DRV_DOB,DRV_DLI,VEH_SEATS,DATE OF \r\nINTIMATION,DATE OF \r\nACCIDENT,PLACE OF \r\nLOSS,CLAIM NO,AGE,TYPE,DRIVING \r\nLICENSE ISSUE,BODY TYPE,YEAR,CHASIS NO,REG,POLICY START,POLICY END,INTIMATED\r\nAMOUNT,INTIMATED\r\nSF,CUST_ID,EXECUTIVE,MAKE,MODEL,SUM INSURED,PRODUCT,POLICYTYPE,NATIONALITY
64,SPORTS CAR,PRIVATE,2010.0,1ZVBP8EN4A5107948.,DUBAI,102048979,05/01/2015,04/02/2016,05/01/2015 13:32,1712.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7134.0,BR,FORD,MUSTANG,44000.0,STANDARD,COMP,NaN
101,SALOON,PRIVATE,2008.0,WP0ZZZ99Z8S722946,DUBAI,102049002,10/01/2015,09/01/2016,06/01/2015 9:58,4040.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5445.0,ASHOK,PORSCHE,CARRERA,126000.0,NOT CLASSIFIED,COMP,NaN
132,COUPE,PRIVATE,2012.0,WDDKK5KF7CF138966,DUBAI,102049022,06/01/2015,05/02/2016,06/01/2015 16:03,4665.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7650.0,JOHN,MERCEDES,E350,135000.0,STANDARD,COMP,NaN
152,SALOON,PRIVATE,2004.0,WDBTK65G04T033356,DUBAI,101509224,07/01/2015,06/02/2016,07/01/2015 9:12,1210.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5568.0,BR,MERCEDES,CLK-320,NaN,TP,TP,NaN
242,SALOON,PRIVATE,2009.0,WP0ZZZ99Z9S700350,DUBAI,102049092,17/02/2015,16/02/2016,11/01/2015 9:33,4160.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3609.0,JAIKISHIN,PORSCHE,CARRERA,120000.0,NOT CLASSIFIED,COMP,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246542,COUPE,PRIVATE,2015.0,SCBFN6ZA2FC044067,DUBAI,102153246,28/02/2021,30/03/2022,22/12/2020 11:52,6187.0,01/01/2000,01/01/1970,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11997.0,JAIKISHIN (S),BENTLEY,CONTINENTAL COUPE,294400.0,M 2.25,COMP,EMIRATE
246673,SPORTS CAR,PRIVATE,2014.0,SCBGN2ZA4EC088647,DUBAI,102153347,29/12/2020,28/01/2022,24/12/2020 10:04,5267.0,12/11/2010,01/01/1970,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4522.0,AMIT,BENTLEY,CONTINENTAL GTC V8,191890.0,M 2.5,COMP,COMPANY
246687,COUPE,PRIVATE,2015.0,WMWXM5101F3A15130,DUBAI,102153361,29/12/2020,28/01/2022,24/12/2020 11:28,1390.0,13/02/2014,31/08/1985,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9446.0,MANOHAR,MINI,COOPER,34000.0,STANDARD,COMP,INDIAN
246766,SALOON,PRIVATE,2014.0,WP0ZZZ97ZEL001269,DUBAI,102153428,27/12/2020,26/01/2022,27/12/2020 17:51,1992.0,10/11/2001,18/09/1983,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4267.0,BR,PORSCHE,PANAMERA,111200.0,M 2019,COMP,INDIAN
246825,COUPE,PRIVATE,2018.0,WDDWJ4JB9JF619814,DUBAI,102153480,29/12/2020,28/01/2022,28/12/2020 18:14,3875.0,11/06/2013,09/06/1995,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12807.0,UDASI/SA,MERCEDES BENZ,C 300,119561.0,M 2.5,COMP,EMIRATE

In [147]:
df_merged.BODY.isna().sum()
# Assuming df_merged is your merged DataFrame

# Drop all rows where 'BODY' is NaN
df_merged = df_merged.dropna(subset=['BODY'])

In [148]:
# Assuming df_merged is your merged DataFrame

# Create a mapping dictionary with 'BODY' as keys and corresponding max 'VEH_SEATS' as values
max_seats_mapping = df_merged.groupby('BODY')['VEH_SEATS'].max().to_dict()

# Replace 'VEH_SEATS' values of 0 with 1 in the mapping dictionary
max_seats_mapping = {key: 1 if value == 0 else value for key, value in max_seats_mapping.items()}


# Print or inspect the DataFrame
max_seats_mapping

{'4 WD': 87.0,
 'AMPHIBIOUS BUS': 45.0,
 'AS PER FLEET LIST': 6.0,
 'BUS': 83.0,
 'CARAVAN': 8.0,
 'CHILLER VAN': 3.0,
 'CONVERTIBLE': 4.0,
 'COUPE': 4.0,
 'CRANE': 1.0,
 'DOOR COUPE': 3.0,
 'DOUBLE CABIN': 5.0,
 'DRILL': 1.0,
 'DUMP TRUCK': 2.0,
 'EXCAVATOR': 1.0,
 'FORK LIFT': 1.0,
 'FREEZER PICK-UP': 6.0,
 'FREEZER TRUCK': 2.0,
 'FREEZER VAN': 14.0,
 'HATCH BACK': 6.0,
 'HEAVY TRUCK': 1.0,
 'JEEP': 4.0,
 'LIGHT PICKUP': 14.0,
 'LIMOUSINE': 14.0,
 'LOADER': 1.0,
 'LUXURY PICKUP': 7.0,
 'MICRO BUS 15 Seats': 14.0,
 'MINI BUS': 60.0,
 'MINI TRUCK': 1.0,
 'MINI VAN': 62.0,
 'MOTOR BIKE': 1.0,
 'MOTOR CYCLE': 4.0,
 'MOTOR GRADER': 1.0,
 'MOTOR HOME': 7.0,
 'MOTOR TRICYCLE': 3.0,
 'MPV': 8.0,
 'PICK UP': 14.0,
 'PICK UP (REEFER BODY)': 2.0,
 'PICK UP DOUBLE CABIN': 6.0,
 'PICK UP TRUCK': 6.0,
 'PICK UP WITH BOX': 6.0,
 'PICK UP WITH CRANE': 6.0,
 'PICKUP WITH BOX & TAIL LIFT': 2.0,
 'PICKUP WITH TIPPER': 2.0,
 'PIPELAYER': 1,
 'QUAD BIKE': 1.0,
 'RECOVERY VEHICLE': 2.0,
 'REFRIGERATED PICKUP': 5.0,
 'REFRIGERATED VAN': 2.0,
 'ROLLER': 1,
 'SALOON': 64.0,
 'SALOON STATION ': 4.0,
 'SC.': 4.0,
 'SC..': 4.0,
 'SCOOTER': 2.0,
 'SEDAN': 5.0,
 'SPORTS CAR': 5.0,
 'SR-150 LOADER': 1,
 'STATION': 11.0,
 'STATION 4 WD': 7.0,
 'STATION WAGON': 74.0,
 'SUV': 8.0,
 'TANKER': 2.0,
 'TIPPER PICKUP': 2.0,
 'TIPPER TRUCK': 2.0,
 'TRACTOR': 1.0,
 'TRACTOR HEAD': 3.0,
 'TRACTOR TRAILOR': 2.0,
 'TRAILER': 1.0,
 'TRUCK': 12.0,
 'TRUCK HEAD': 1.0,
 'TRUCK TRAILOR': 2.0,
 'TRUCK WITH BOX': 2.0,
 'TRUCK WITH CRANE': 2.0,
 'TRUCK WITH DRY BOX': 2.0,
 'TRUCK/TANKER': 1.0,
 'VAN': 29.0,
 'VAN WITH CRANE': 14.0,
 'WAGON': 11.0,
 'WATER TANKER': 2.0,
 'WHEEL LOADER': 1,
 'Z-2 DOOR': 4.0,
 'Z-BOB CAT': 1.0,
 'Z-BULL DOZER': 1,
 'Z-BUS': 83.0,
 'Z-DELIVERY VAN': 2.0,
 'Z-LOADER': 1,
 'Z-PANEL VAN': 2.0,
 'Z-REFABRICATED PICK UP': 2.0,
 'Z-REFRIGERATED VAN': 4.0,
 'Z-TRUCK': 2.0}

In [149]:

# Fill NaN and 0 values in 'VEH_SEATS' with the corresponding max value based on 'BODY'
condition = (df_merged['VEH_SEATS'].isna()) | (df_merged['VEH_SEATS'] == 0)
df_merged.loc[condition, 'VEH_SEATS'] = df_merged.loc[condition, 'BODY'].map(max_seats_mapping)

# Print or inspect the DataFrame to verify changes
print(df_merged.VEH_SEATS.isna().sum())
print(df_merged.VEH_SEATS.describe())

0
count    236515.000000
mean          4.541653
std           3.817917
min           1.000000
25%           4.000000
50%           4.000000
75%           4.000000
max          87.000000
Name: VEH_SEATS, dtype: float64