In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
pd.set_option('display.max_columns', None)

In [10]:
frequency = pd.read_csv('frequency_dataset.csv', encoding='utf-8')
print(frequency.shape)
print(frequency.columns)
print(frequency.isna().sum())
frequency.head()

(235925, 8)
Index(['POLICY_NO', 'DATE OF \r\nACCIDENT', 'AGE', 'REG', 'DRV_DLI_AGE',
       'BODY', 'MAKE', 'VEH_SEATS'],
      dtype='object')
POLICY_NO                    0
DATE OF \r\nACCIDENT    176664
AGE                          0
REG                          0
DRV_DLI_AGE                  0
BODY                         0
MAKE                         0
VEH_SEATS                    0
dtype: int64

,POLICY_NO,DATE OF \r\nACCIDENT,AGE,REG,DRV_DLI_AGE,BODY,MAKE,VEH_SEATS
0,102048936,2015-03-11,26.000000,DUBAI,11.580413,SALOON,TOYOTA,4.0
1,102048936,2015-06-15,31.000000,DUBAI,11.436246,SALOON,TOYOTA,4.0
2,102048936,2015-03-11,26.000000,DUBAI,11.580413,SALOON,TOYOTA,4.0
3,102048936,2015-03-11,26.000000,DUBAI,11.580413,SALOON,TOYOTA,4.0
4,101509203,NaN,38.383348,DUBAI,13.802850,PICK UP,MITSUBISHI,2.0

In [12]:

frequency.drop_duplicates(
    subset=['POLICY_NO', 'DATE OF \r\nACCIDENT'], inplace=True)
frequency['freq'] = frequency.groupby(
    'POLICY_NO')['DATE OF \r\nACCIDENT'].transform('count')

frequency.drop_duplicates(subset=['POLICY_NO'], inplace=True)
frequency

,POLICY_NO,DATE OF \r\nACCIDENT,AGE,REG,DRV_DLI_AGE,BODY,MAKE,VEH_SEATS,freq
0,102048936,2015-03-11,26.000000,DUBAI,11.580413,SALOON,TOYOTA,4.0,2
4,101509203,NaN,38.383348,DUBAI,13.802850,PICK UP,MITSUBISHI,2.0,0
5,101509204,NaN,38.383348,DUBAI,13.802850,SALOON,TOYOTA,4.0,0
6,102048937,2015-05-24,50.000000,DUBAI,16.480318,VAN,HYUNDAI,8.0,1
7,102048938,2015-03-02,26.000000,DUBAI,11.580413,SALOON,MITSUBISHI,4.0,1
...,...,...,...,...,...,...,...,...,...
235920,102153585,NaN,38.383348,ABU DHABI,14.592745,SUV,PEUGEOT,4.0,0
235921,102153586,NaN,38.383348,DUBAI,37.264887,SALOON,BMW,4.0,0
235922,102153588,NaN,38.383348,DUBAI,7.624914,SALOON,CHEVROLET,4.0,0
235923,102153587,NaN,38.383348,ABU DHABI,3.137577,SALOON,TOYOTA,4.0,0
235924,102153590,NaN,38.383348,DUBAI,7.386721,SUV,SUZUKI,4.0,0