In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
pd.set_option('display.max_columns', None)

In [41]:
frequency = pd.read_csv('frequency_dataset.csv', encoding='utf-8')
print(frequency.shape)
print(frequency.columns)
print(frequency.isna().sum())
frequency.head()

(235925, 8)
Index(['POLICY_NO', 'DATE OF \r\nACCIDENT', 'AGE', 'REG', 'DRV_DLI_AGE',
       'BODY', 'MAKE', 'VEH_SEATS'],
      dtype='object')
POLICY_NO                    0
DATE OF \r\nACCIDENT    176664
AGE                          0
REG                          0
DRV_DLI_AGE                  0
BODY                         0
MAKE                         0
VEH_SEATS                    0
dtype: int64

,POLICY_NO,DATE OF \r\nACCIDENT,AGE,REG,DRV_DLI_AGE,BODY,MAKE,VEH_SEATS
0,102048936,2015-03-11,26.000000,DUBAI,11.580413,SALOON,TOYOTA,4.0
1,102048936,2015-06-15,31.000000,DUBAI,11.436246,SALOON,TOYOTA,4.0
2,102048936,2015-03-11,26.000000,DUBAI,11.580413,SALOON,TOYOTA,4.0
3,102048936,2015-03-11,26.000000,DUBAI,11.580413,SALOON,TOYOTA,4.0
4,101509203,NaN,38.383348,DUBAI,13.802850,PICK UP,MITSUBISHI,2.0

In [52]:

frequency.drop_duplicates(
    subset=['POLICY_NO', 'DATE OF \r\nACCIDENT'], inplace=True)
frequency['freq'] = frequency.groupby(
    'POLICY_NO')['DATE OF \r\nACCIDENT'].transform('count')

    frequency

count    227514.000000
mean          0.347526
std           0.791807
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          12.000000
Name: freq, dtype: float64